# Node
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
*pids
*.pid
*.seed
*.pid.lock

# Optional npm cache
.npm

# Build output
dist/
build/
coverage/
.cache/

# Dependency locks
package-lock.json
yarn.lock
pnpm-lock.yaml

# Env files
.env
.env.local
.env.*.local

# Secrets
secrets/

# Editor and OS files
.DS_Store
.vscode/
.idea/
*.swp

# Misc
*.tgz
